<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Theme Template for Bootstrap</title>

<!-- Bootstrap core CSS -->

<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />


<!-- Bootstrap theme -->

<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"
	media="screen" />

<!-- Custom styles for this template -->


<link href="../static/css/theme.css" th:href="@{/css/theme.css}"
	rel="stylesheet" media="screen" />
<style type="text/css">
form {
	margin: 20px 0;
}

form input, button {
	padding: 5px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #cdcdcd;
}

table th, table td {
	padding: 10px;
	text-align: left;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
//map has been used as associative array to store object
	var dataMap = {}
	
	function updateTotalPrice(){
		var quantity = $("#quantity").val();
		var price = $("#priceId").val();
		var itemPrice =parseInt(quantity) * parseInt(price)
		var total = $("#itemPriceId").val(itemPrice);
		var totalPrice = $("#totalPriceId").val();
		 totalPrice = parseInt(totalPrice)+ itemPrice
		 
		$("#totalPriceId").val(totalPrice)
}
	
	$(document).ready(function() {
		$(".add-row").click(function() {
			
		            	updateTotalPrice();
		            	
						var quantity = $("#quantity").val();
						var price = $("#priceId").val();
						var sku = $("#sku").val();
						var totalPrice = $("#totalPriceId").val();
						var total = $("#itemPriceId").val();
							dataMap[sku] = {
											"quantity" : quantity,
											 "sku" : sku
											}
												var markup = "<tr><td><input type='checkbox' name='record'></td><td>"
														+ quantity + "</td><td>"
														+ sku + "</td><td>"
														+ total + "</td></tr>";
												$("table tbody").append(markup);
												 $('#quantity').val("");
									              $('#sku').val("");
									              $('#priceId').val("");
											});

						// Find and remove selected table rows
				        $(".delete-row").click(function(){
				            $("table tbody").find('input[name="record"]').each(function(){
				            	if($(this).is(":checked")){
				                   console.log("delete item name:" + $(this).val())
				                   // delete dataMap $(this).value
				                    $(this).parents("tr").remove();
				                }
				            });
				        });
						
						// save
						$(".save-data").click(function() {
							var arr = [];
							var i = 0;
							for ( var sku in dataMap) {
								var value = dataMap[sku];
								arr[i]=value;
								i++;
							}
							var saleList = JSON.stringify(arr);
							dataMap={}
							
							console.log(saleList +"  ---------------");
							
							
	
						   var url = "http://localhost:8070/sale/sale/addsale";
							
						   $.ajax({
					            url: url,
					            type: 'post',
					            contentType: 'application/json',
					            success: function (data) {
					              alert("success");
					              $('#quantity').val("");
					              $('#sku').val("");
					              $('#totalPriceId').val("");
					              $("#saleListTableId tbody").empty();
					            },
					            error: function(status){
					            	alert("fail")
					            },
					            data: saleList,
					        });
						   
						 

		
	
			   });
});

function getPrice(){
	var sku= $("#sku").val();
	
	 var url = "http://localhost:8070/sale/inventory/getprice?sku="+sku;
		
	   $.ajax({
          url: url,
          type: 'get',
          contentType: 'application/json',  // request
          dataType : "json",  // response data type
          success: function (data) {
            //console.log(data)
            $('#priceId').val(data);
           
          },
          error: function(status){
          	alert("fail to get price")
          }
      });
	
 }
</script>

</head>

<body>

	<!-- Fixed navbar -->

	<div class="container">

		<form th:action="@{/sale/addsale}" method="post" autocomplete="off"
			style="max-width: 250px">
			<div class="form-group">
				<h4>Enter Sale Details</h4>
				<br />

			</div>

			<div class="form-group">
			<input type="text" id="sku"  placeholder="SKU" onblur="getPrice()"/> 
			<input type="text" id="priceId" placeholder="Price"  /> 
				<input type="text" id="quantity" placeholder="Quantity" /> 
				
				
				<input type="button" class="add-row" value="Add Row" />
			</div>

			<div>
				<table id="saleListTableId">
					<thead>
						<tr>
							<th>Select</th>
							<th>Quantity</th>
							<th>SKU</th>
							<th>Total Price</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
           Total Price <input type="text" id="totalPriceId" placeholder="Total Price" value="0"/>
              <input type="hidden" id="itemPriceId" placeholder="Item Price" value="0"/> 
			</div>

			<button type="button" class="delete-row">Delete Row</button>
			<button type="button" class="save-data">Save</button>


			<a class="btn  btn-default" th:href="@{/}">Cancel</a> <br />

		</form>
	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>